footer{
    background: #230A59;
    color: #fff;
    width: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: 1;
    font-family: 'Montserrat';
    font-weight: 100;

    & address{
        
        & h1{
            font-size: 1.563;
            text-align: center;
            margin-bottom: 0;
            padding-top: 0.3em;
            font-family: 'Montserrat';
        }
        & .fecha{
            margin-top: 0.3em;
            text-align: center;
            font-size: 0.75em;
            padding-bottom: 0.5em;
        }
        & .correo{
            text-align: center;
            margin-bottom: 0;
            font-style: normal;
    
            & a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    color: rgb(0, 204, 255);
                }
            }
        }
    } 


    
    
}