@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat';

}
.intro{
    color: rgb(24, 24, 24);
    margin: 4em auto 1em;
    width: 90%;
    & .contenido_intro{
        padding: 0.8em;
        & h3{
            color: black;
            font-size: 2em;
        }

        & p{
            font-size: 1em;
            margin-top: 1.2em;
            text-align: justify;
        }
    }
}

.dibujo{
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
        & .dibujo_texto{
            
           
            padding: 1em;
            position: relative;

            & .tex{
                
                & h4{
                    font-size: 2em;
                    color: black;
                    text-align: center;
                }
                & p{
                    margin-top: 1em;
                    text-align: justify;
                }
            }
        // @media (max-width:600px) {
        // grid-template-columns: 1fr;
        // grid-template-rows: auto;
        // }
    }
    & .ima{
        display: flex;
        justify-content: center;
        animation: color 2s;
        animation-iteration-count: infinite;
    } 
}

.resultados{
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    & .resultados_txt{
        padding: 0.5em 1em;
        & h5{
            font-size: 2em;
            color: black;
            text-align: center;
        }
        & p{
            text-align: justify;
            margin-top: 1em;
        }
    }
    & .im{
        display: flex;
        justify-content: center;
        & img{
            width: 70%;
            margin: auto;
        };
    }
}

@media (max-width: 970px){
    .resultados{
        width: 90%;
        margin: 2em auto;
        display: grid;
        grid-template-columns: 1fr;
        & .resultados_txt{
            padding: 0.5em 1em;
            & h5{
                font-size: 2em;
                color: black;
                text-align: center;
            }
            & p{
                text-align: justify;
                margin-top: 1em;
            }
        }
        & .ima{
            display: flex;
            justify-content: center;
            & img{
                width: 70%;
                margin: auto;
            };
        }
    }  
     
}

@media (max-width:970px){
    .dibujo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  auto;
        width: 90%;
        margin: 1em auto;
            & .dibujo_texto{
                
               
                padding: 1em;  
                & .tex{
                    & h4{
                        font-size: 2em;
                        color: black;
                        text-align: center;
                    }
                    & p{
                        margin-top: 1em;
                        text-align: justify;
                    }
                }
        }
    
    & .ima{
        display: flex;
        & img {
            // position: absolute;
            width:30%;
            margin: auto;
        }    
    } 
    }
}
