@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat';
}



    .tests{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-template-rows: auto;
        
        .test{
            margin: 1em auto;
            border: solid  1px;
            width: min-content;
            border-radius: 15px;
        
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
        
            & .bloque-titulo{
                text-align: center;
                display: grid;
                font-size: 2em;
                width: 100%;
                color: black;
                padding: 1em;
                border-radius: 10px;

            }
            & .imagenes{
                display: inline-block;
                padding: 0.5em;
                justify-content: center;
                & .img_1{
                    margin: 1em auto 1em auto;
                    width: 80%;
                }
            }
        
            & .opinion{
                padding: 0.5em 1em;
                    & .sub{
                        color: black;
                        font-size: 1.5em;
                    }
                    & .parrafo-opinion{
                        margin-top: 1em;
                        & a{
                            color: rgb(0, 26, 255);
                        }
                    }
            }
        }
    }


.tests{
    .test_1{
        width: min-content;
        border:  solid 3px yellowgreen;
        box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.452);
        & .titulo-bloque-test-1{
            background: yellowgreen;
    
            & .titulo1{
                color: white;
                background: yellowgreen;
            }
        }
        & .imagenes-test-1{
            & img{
                display: inline-block;
            }
        }
        
        
    }
}
.tests{
    .test_2{
        border:  solid 3px rgb(50, 205, 146);
        box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.452);
        width: min-content;
        & .titulo-bloque-test-2{
            background: rgb(50, 205, 146);
    
            & .titulo2{
                color: white;
                background: rgb(50, 205, 146);
            }
        }
        & .imagenes-test-2{
            & img{
                display: inline-block;
            }
        }
        
        
    }
}
.tests{
    .test_3{
        border:  solid 3px rgb(50, 86, 205);
        width: min-content;
        box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.452);
        & .titulo-bloque-test-3{
            background: rgb(50, 86, 205);
    
            & .titulo2{
                color: white;
                background: rgb(50, 86, 205);
            }
        }
        & .imagenes-test-3{
            & img{
            }
        }
        
    }
}
.tests{
    .test_4{
        border:  solid 3px #cd3232;
        box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.452);
        width: min-content;
        & .titulo-bloque-test-4{
            background: #cd3232;
    
            & .titulo2{
                color: white;
                background: #cd3232;
            }
        }
        & .imagenes-test-4{
            & img{
                display: inline-block;
            }
        }
        
    }
}




@media (max-width: 970px ) {
    .tests{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-rows: auto;
       
        .test{
            margin: 1em auto;
            width: min-content;
            display: grid;
            width: min-content;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
        
            & .bloque-titulo{
                text-align: center;
                display: grid;
                font-size: 2em;
                width: 100%;
                color: black;
                padding: 1em;
            }
            & .imagenes{
                display: inline-block;
                padding: 0.5em;
                justify-content: center;
                & img{
                    margin: 1em auto ;
                }
            }
        
            & .opinion{
                padding: 0.5em 1em;
                    & .sub{
                        color: black;
                        font-size: 1.5em;
                    }
                    & .parrafo-opinion{
                        margin-top: 1em;
                        & a{
                            color: rgb(0, 26, 255);
                        }
                    }
            }
        }
    }
}
@media (max-width: 650px){
    .tests{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-rows: auto;
       
        .test{
            margin: 1em auto;
            width: 100%;
            display: grid;
            width: min-content;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
        
            & .bloque-titulo{
                text-align: center;
                display: grid;
                font-size: 2em;
                width: 100%;
                color: black;
                padding: 1em;
            }
            & .imagenes{
                display: inline-block;
                padding: 0.5em;
                justify-content: center;
                width: 100%;
                & img{
                    margin: 1em auto;
                    width: 100%;
                }
            }
        
            & .opinion{
                padding: 0.5em 1em;
                    & .sub{
                        color: black;
                        font-size: 1.5em;
                    }
                    & .parrafo-opinion{
                        margin-top: 1em;
                        & a{
                            color: rgb(0, 26, 255);
                        }
                    }
            }
        }
    }

}
@media (max-width: 601px){
    .tests{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-rows: auto;
       
        .test{
            margin: 1em auto;
            width: min-content;
            display: grid;
            width: min-content;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
        
            & .bloque-titulo{
                text-align: center;
                display: grid;
                font-size: 2em;
                width: 100%;
                color: black;
                padding: 1em;
            }
            & .imagenes{
                display: inline-block;
                justify-content: center;
                & .img_1{
                    margin: auto;
                    width: 50%;
                }
            }
        
            & .opinion{
                padding: 0.5em 1em;
                    & .sub{
                        color: black;
                        font-size: 1.5em;
                    }
                    & .parrafo-opinion{
                        margin-top: 1em;
                        & a{
                            color: rgb(0, 26, 255);
                        }
                    }
            }
        }
    }

}

