*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100%;

   
}
// Header

.header_box{
    height: 70vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    // box-shadow: 7000px 0 0 #073baa69 inset;
    background-image: url(../../img/graduados-min.jpg);
    background-size: cover;
    background-position: center bottom;
    box-shadow: 7000px 0 0 #1042ad69 inset;

    

    background-attachment: fixed;
    @media all and (max-width:364px) {
        width: 100%;
    }

    
    
    & .header_box__titles{
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        // font-family: 'Rubik Mono One', sans-serif;
        // font-family: 'Anton', sans-serif;

        display: flex;
        position: relative;
        grid-area: titulo;
        justify-content: center;
        height: 100%;
        width: 100%;

        // & p{
        //     font-family: 'Pinyon Script', cursive;
        //     font-size: 70px;
        //     position: absolute;
        //     font-weight: 800;
        //     width: 100%;
        //     text-align: center;
        //     color: #230a5985;
        //     z-index: 5;
        // }
      
        & h1{
            // color: #230A59;
            padding: 20px;
            border: solid 5px #fff;
            color: #fff;
            font-weight: 1000;
            // box-shadow: 5px 7px 0px white;
            display: flex;
            text-align: center;
            font-size: 5vw;
            transition: 0.2s cubic-bezier(1,1,0,0);
           
        }
    }
}

// Botonera

.botonera{
    background: #0029FA;
    // box-shadow: -10px -10px 20px cornflowerblue inset ;
    display: flex;
    width: 100%;
    height: 3.8em;  
    align-content: center;
    // @media (max-width: 1145px) {
    //     font-size: 16px;
    // }
    @media (max-width: 510px) {
        height: max-content;
        overflow: hidden;
        padding-top: 15px;
    }
    & .links{
        display: grid;
        gap: 20px;

        // Cambiar los valores y ver cual queda mejor

        margin-right: 50%;
        margin-left: 5%;
        @media (max-width:960px) {
            margin-right: 35%;

        }
        @media (max-width:960px) {
            margin-right: 5%;

        }


        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
        grid-template-areas: "Inicio clase1 clase2 clase3 clase4";
        align-content: center;
        justify-content: center;
        color: #fff;
        @media (max-width: 510px) {
            grid-template-areas: "Inicio" "clase1" "clase2" "clase3" "clase4";
            grid-template-columns: 1fr;
            grid-template-rows: 1.5fr;
            padding-top: 5px;
            padding-bottom: 25px;
            & a{
                & :hover{
                    :hover{
                        background: #fff;
                            color: #0029FA;
                            border-radius: 2px;
                            z-index: 100;
                    }
                }
            }
        }
        
            
            & a{
                @media (max-width: 510px ) {
                    box-shadow: #5C73F2 0px 1px 0px;
                }
                display: flexbox;
                justify-self: center;
                align-self: center;
                font-weight: bolder;
                font-size: 1.3em;
                text-decoration: none;
                color: #fff;
                height: max-content;
                height: 100%;
                width: 70%;
                text-align: center;
                align-self: center;
                transition: 0.2s;
                width: 100%;
                &:hover{
                    @media (max-width: 510px) {
                        background: #fff;
                        color: #5C73F2;
                        border-radius: 2px;
                        height: 100%;
                    }
                    @media (min-width: 511px) {
                        
                        background: #fff;
                        color: #5C73F2;
                        border-radius: 2px;
                        height: 200%;
                    }
                }
                
            }
       
    }
    
}  

.botonera{
    & .links{
        .Active{
            @media (min-width: 511px ){
            background: #fff;
            border-radius: 2px;
            height: 250%;
            padding-top: 5px;
            color: #5C73F2;
            transition: 0.2s;
            box-shadow: 0px 6px 0px #230A59 inset; 
            z-index: 100;   
            }
            @media (max-width: 510px) {
                background: #fff;
                color: #5C73F2;

            }
          
        }
    }
}

// Abajo a la derecha
.header_box{
    & .header_box__titles{
            & .abajo_d{
                box-shadow: 9px 11px 0px white;
            }    
    }
}
// Abajo izquiera
.header_box{
    & .header_box__titles{
            & .abajo_i{
                box-shadow: -9px 11px 0px white;
            }    
    }
}
// arriba izquiera
.header_box{
    & .header_box__titles{
            & .arriba_i{
                box-shadow: -9px -11px 0px white;
            }    
    }
}
// arriba derecha
.header_box{
    & .header_box__titles{
            & .arriba_d{
                box-shadow: 9px -11px 0px white;
            }    
    }
}
// arriba izquiera
.header_box{
    & .header_box__titles{
            & .todo{
                box-shadow: 0px 0px 0px 4px white;
            }    
    }
}
