*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
body{
    font-family: 'Montserrat';
    color: rgb(22, 22, 22);
}
.container-cl4{
    width: 100%;
    & article{
        width: 80%;
        font-size: 1em;
        margin: 3em auto;
        & h3{
            font-size: 2em;
        }
        & p{
            margin-top: 1em;
            text-align: justify;
        }
    }
}
span{
    width: 100%;
    & h4{
        width: 90%;
        margin: auto;
        font-size: 2em;
        text-align: center;
        box-shadow: 0px 5px 0px #230A59;
    }
}